.root {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.background {
  position: absolute;
  inset: 0;
  transition: opacity 300ms ease-in-out;
}

.backgroundHidden {
  opacity: 0;
}

/* TODO: Bunun ismi değiştirilebilir. */
.editorStage {
  background-repeat: no-repeat;
  width: fit-content;
  min-width: 16rem;
  margin-inline: auto;
  transition: padding 300ms ease-in-out;
}

.editorStagePaddingXs {
  padding: var(--spacing-8);
}

.editorStagePaddingSm {
  padding: var(--spacing-12);
}

.editorStagePaddingMd {
  padding: var(--spacing-16);
}

.editorStagePaddingLg {
  padding: var(--spacing-20);
}

.editorWrapper {
  margin-inline: auto;
  border-radius: var(--main-editor-border-radius);
  overflow: hidden;
  position: relative;
  transition: box-shadow 300ms ease-in-out;
  box-shadow: var(--shadow-md);
}

.editorWrapperPaddingNone {
  box-shadow: none;
}

.editorWrapper :global(.cm-editor) {
  padding: var(--main-editor-padding);
  padding-block-start: calc(
    2 * var(--main-editor-header-padding) +
      var(--main-editor-header-button-size) + 0.5rem
  );
  font-size: var(--font-size-md);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: var(--main-editor-header-padding);
}

.headerButtons {
  display: flex;
  gap: var(--spacing-2);
}

.headerButton {
  width: var(--main-editor-header-button-size);
  height: var(--main-editor-header-button-size);
  border-radius: var(--rounded-full);
}

.headerButtonRed {
  background-color: var(--color-red);
}

.headerButtonYellow {
  background-color: var(--color-yellow);
}

.headerButtonGreen {
  background-color: var(--color-green);
}
