.theme-select__item {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

.theme-select__item input {
  cursor: pointer;
}

.theme-select__item__editor-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.theme-select__item__editor-wrapper .cm-editor {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.theme-select__item__input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.theme-select__item__name {
  font-weight: 600;
}
