:root {
  --button-size: 0.75rem;
  --header-padding: 1rem;

  --shadow-color: 286deg 36% 56%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

  /* TODO: Gradient'leri düzelt ve düzenle */
  --gradient-0: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  --gradient-1: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  --gradient-2: linear-gradient(180deg, #52acff 25%, #ffe32c 100%);
  --gradient-3: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  --gradient-4: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --gradient-5: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  --gradient-6: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  --gradient-7: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
  --gradient-8: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
