.editor-stage-wrapper {
  position: relative;
}

/* TODO: Bunun ismi değiştirilebilir. */
.editor-stage {
  background-repeat: no-repeat;
  width: fit-content;
  min-width: 16rem;
  margin-inline: auto;
  transition: padding 300ms ease-in-out;
}

.background {
  position: absolute;
  inset: 0;
  transition: opacity 300ms ease-in-out;
}

.backgroundPaddingNone {
  opacity: 0;
}

.background-padding-xs {
  padding: var(--spacing-8);
}

.background-padding-sm {
  padding: var(--spacing-12);
}

.background-padding-md {
  padding: var(--spacing-16);
}

.background-padding-lg {
  padding: var(--spacing-20);
}

.main {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  margin-inline: auto;
  max-width: 70rem;
}

.settingsWrapper {
  position: sticky;
  top: var(--spacing-2);
  flex: none;
  max-width: 15rem;
}

.editor-wrapper {
  margin-inline: auto;
  border-radius: var(--main-editor-border-radius);
  overflow: hidden;
  position: relative;
  transition: box-shadow 300ms ease-in-out;
  box-shadow: var(--shadow-md);
}

.editorWrapperPaddingNone {
  box-shadow: none;
}

.editor-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: var(--main-editor-header-padding);
}

.editor-header-buttons {
  display: flex;
  gap: var(--spacing-2);
}

.editor-header-button {
  width: var(--main-editor-header-button-size);
  height: var(--main-editor-header-button-size);
  border-radius: var(--rounded-full);
}

.editor-header-button-red {
  background-color: var(--color-red);
}

.editor-header-button-yellow {
  background-color: var(--color-yellow);
}

.editor-header-button-green {
  background-color: var(--color-green);
}

.editor-wrapper .cm-editor {
  padding: var(--main-editor-padding);
  padding-block-start: calc(
    2 * var(--main-editor-header-padding) +
      var(--main-editor-header-button-size) + 0.5rem
  );
  font-size: var(--font-size-md);
}

.buttons {
  display: flex;
  gap: var(--spacing-1);
}

.footer {
  padding-block: var(--spacing-10);
  text-align: center;
}
