.main {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  margin-inline: auto;
  max-width: 76rem;
}

.settingsWrapper {
  display: none;
  position: sticky;
  top: var(--spacing-2);
  flex: none;
  max-width: 15rem;
}

/* TODO: Breakpoint'leri ayarla ve CSS vars'a taşı. */
@media (min-width: 800px) {
  .settingsWrapper {
    display: block;
  }
}

.exportableEditorWrapper {
  flex: 1;
  padding: var(--spacing-2);
  border: 1px solid var(--color-border);
}

.footer {
  padding-block: var(--spacing-10);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-2);
}
