/* TODO: Bunun ismi değiştirilebilir. */
.editor-stage {
  background-repeat: no-repeat;
  padding: var(--spacing-8);
  width: fit-content;
  min-width: 12rem;
  margin-inline: auto;
  max-width: 54rem;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  margin-inline: auto;
}

.settingsWrapper {
  position: sticky;
  top: var(--spacing-2);
  flex: none;
  max-width: 15rem;
}

.editor-wrapper {
  margin-inline: auto;
  border-radius: var(--main-editor-border-radius);
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow-elevation-medium);
}

.editor-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: var(--main-editor-header-padding);
}

.editor-header-buttons {
  display: flex;
  gap: 0.5rem;
}

.editor-header-button {
  width: var(--main-editor-header-button-size);
  height: var(--main-editor-header-button-size);
  border-radius: var(--rounded-full);
}

.editor-header-button-red {
  background-color: var(--color-red);
}

.editor-header-button-yellow {
  background-color: var(--color-yellow);
}

.editor-header-button-green {
  background-color: var(--color-green);
}

.editor-wrapper .cm-editor {
  padding: var(--main-editor-padding);
  padding-block-start: calc(
    2 * var(--main-editor-header-padding) +
      var(--main-editor-header-button-size) + 0.5rem
  );
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: var(--spacing-1);
}
