.radioGroup {
  gap: var(--spacing-1);
  padding-block: var(--spacing-1);
}

.gradientPreview {
  --size: var(--spacing-6);

  width: var(--size);
  height: var(--size);
  border-radius: var(--rounded-sm);
}

.gradientPreviewSelected {
  border: 0.2rem solid var(--color-primary-lighter);
}
