.option {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  cursor: pointer;
}

.editorWrapper {
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  position: relative;
  overflow: hidden;
}

.editorOverlay {
  position: absolute;
  inset: 0;
}

.editorWrapper :global(.cm-editor) {
  gap: var(--spacing-2);
  font-size: var(--font-size-sm);
}

.optionLabel {
  text-align: center;
  font-weight: var(--font-weight-black);
}
