.option {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.editorWrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow-md);
  position: relative;
}

.editorOverlay {
  position: absolute;
  inset: 0;
}

.editorWrapper :global(.cm-editor) {
  padding: 0.5rem;
  font-size: var(--font-size-sm);
}

.optionLabel {
  text-align: center;
  font-weight: var(--font-weight-black);
}
