/* TODO: react-select styles are injected after our custom styles.
So, we used `!important` as a temporary solution. */
.control {
  background-color: transparent !important;
  cursor: pointer;
}

.input {
  color: var(--color-text-primary) !important;
}

.singleValue {
  color: var(--color-text-primary) !important;
}

.menu {
  background-color: var(--color-body) !important;
  z-index: var(--z-index-max) !important;
}

.option {
  cursor: pointer;
}

.optionFocused {
  background-color: var(--color-body-light) !important;
}

.optionFocused:active {
  background-color: var(--color-body-lighter) !important;
}

.optionSelected {
  background-color: var(--color-body-lighter) !important;
}
