.button {
  width: 100%;
  background-color: var(--color-primary);
  color: inherit;
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--rounded-sm);
}

.button:hover {
  background-color: var(--color-primary-light);
}

.button:active {
  background-color: var(--color-primary-lighter);
}

/* TODO: Outline for focus, active etc. */
