.carousel__root {
  position: relative;
  display: grid;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  /* gridAutoColumns: {
            base: getGridAutoColumns(visibleItemCount.base),
            sm: getGridAutoColumns(visibleItemCount.sm),
            md: getGridAutoColumns(visibleItemCount.md),
            lg: getGridAutoColumns(visibleItemCount.lg),
            xl: getGridAutoColumns(visibleItemCount.xl),
            "2xl": getGridAutoColumns(visibleItemCount["2xl"]),
          }, */
  gap: 2rem;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  /* Firefox */
  scrollbar-width: 0;   
}

.carousel::-webkit-scrollbar {
  display: none;
}
