.radioButton {
  cursor: pointer;
  padding: var(--spacing-1) var(--spacing-2);
  border: 1px solid var(--color-primary-lighter);
}

.radioButton:first-child {
  border-radius: var(--rounded-sm) 0 0 var(--rounded-sm);
}

.radioButton:last-child {
  border-radius: 0 var(--rounded-sm) var(--rounded-sm) 0;
}

.radioButton:not(:last-child) {
  border-right: none;
}

.checked {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}
