.hero {
  text-align: center;
  padding-block: var(--spacing-12);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  margin-block-end: var(--spacing-3);
}

.description {
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
}
